@model IEnumerable<WebStore.Models.Employee>

<h3>Сотрудники</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <th>@emp.Id</th>
                <th>@emp.SurName</th>
                <th>@emp.FirstName</th>
                <th>@emp.Patronymic</th>
                <th>@emp.Age</th>
                <th><a asp-action="Details" asp-route-id="@emp.Id">Детали</a></th>
                <th><a asp-action="Dossier" asp-route-id="@emp.Id">Досье</a></th>
            </tr>
        }
    </tbody>
</table>