
@model IEnumerable<WebStore.ViewModel.MicrocontrollerViewModel>

<ul class="cat_menu" style="list-style: none;">
    @foreach (var view in Model)
    {
        <li>
            <a href="@view.Microcontroller.ImageUrl" target="_blank"><img src="@view.Microcontroller.ImageUrl" alt="@view.Microcontroller.Name" width="100"></a>
            <br>
            <a href="intel4004.html">@view.Microcontroller.Name</a>
            <ul>
                @foreach (var d in view.DetailedDescription.DetailedDesriptionList)
                {
                    <li>@d</li>
                }
            </ul>
</li>
    }
</ul>