@model IEnumerable<WebStore.Areas.Admin.ViewModels.StoreHouseViewModel>
@{
    ViewData["Title"] = "StoreHouse";
}

<h4>StoreHouse</h4>
<p><a asp-area="" asp-controller="Home" asp-action="Catalog">В каталог</a></p>

<div class="products" style="float: left; width: 45%; padding: 10px;">
    <h4>Продукты</h4>
    <table title="Product" border="1" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <!--<td contenteditable="true">vm.Product.Name</td> тоже как вариант-->
            @foreach (var vm in Model)
            {
                <tr>
                    <td>
                        <label asp-for="@vm.Product.Id">@vm.Product.Id</label>
                        <input asp-for="@vm.Product.Id" type="hidden" />
                    </td>
                    <td>
                        <input asp-for="@vm.Product.Name" />
                    </td>
                    <td>
                        <select asp-for="@vm.Category.Name"
                                asp-items="((IEnumerable<WebStore.Domain.Implementations.Category>)ViewBag.Categories).Select(c => new SelectListItem { Text = c.Name, Value = c.Name }).OrderByDescending(s => s.Value)"></select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr>
</div>

<div class="categories" style="float: left; width: 30%; padding: 10px;">
    <h4>Категории</h4>
    <table title="Categories" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cat in ViewBag.Categories)
            {
            <tr>
                <td>@cat.Id</td>
                <td>@cat.Name</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <form method="post" style="clear: both;" asp-action="CreateNew">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <br />
        <label for="price">Price</label>
        <input type="number" id="price" name="price" />
        <br />
        <label for="catId">Category ID</label>
        <select name="catId" id="catId" asp-items="((IEnumerable<WebStore.Domain.Implementations.Category>)ViewBag.Categories).Select(c => new SelectListItem { Text = c.Name, Value = c.Id.ToString() })"></select>

        <input type="submit" />
    </form>
</div>
<hr />
<div style="float: left; width: 45%; padding: 10px;">
    <form method="post" style="clear: both;" asp-action="AddDescription">
        <label for="id">Id</label>
        <input type="number" id="id" name="id" required/>
        <br />
        <label for="desc">Description</label>
        @*<input type="text" id="desc" name="desc_enum" />*@
        <textarea rows="10" cols="30" name="desc" placeholder="Одна строка - один пункт списка описания"></textarea>

        <input type="submit" />
    </form>
</div>

<div style="float: left; width: 30%; padding: 10px;">
    <form asp-action="UploadImgAsync" method="post" enctype="multipart/form-data">
        <label for="id">Id</label>
        <input type="number" id="id" name="id" required/>

        <input type="file" name="file" /><br>
        <input type="submit" value="Загрузить" />
    </form>
</div>
